<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="center-content">
    <h4>Bienvenido, {{usuario}}</h4>
    <h1>Iphone 15</h1>
    <p>Para todos los gustos.</p>
    <a href="https://www.apple.com/cl/iphone-15">Más informacion ></a>
    <img src="../../assets/img/372632967_703303271835356_7239529784636157842_n.png" >
    <br><br>
    <h1>MacBook Air de 15''</h1>
    <p >El más grande y ligero.</p> 
    <a href="https://www.apple.com/cl/macbook-air-13-and-15-m2/">Más informacion ></a>
    <img src="../../assets/img/Apple-WWDC23-MacBook-Air-15-in-hero-230605.jpg.news_app_ed.png" >
    <br><br>
    <h1>Iphone 15 Pro</h1>
    <p>El telefono más Pro.</p> 
    <a href="https://www.apple.com/cl/iphone-14-pro/">Más informacion ></a>
    <img src="../../assets/img/IPHONE-14-PRO-COLORI-768x768.png" >
  </div>
</ion-content>

<ion-footer>
  <ion-item>
      <p>Copyright © 2023 Apple Inc. Todos los derechos reservados.</p>
  </ion-item>
</ion-footer>