<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h1>Iphone 14</h1>
  <p style="text-align: center; font-size:medium ;">Para todos los gustos.</p> 
  <p style="text-align: center; font-size:medium ;"><a href="https://www.apple.com/cl/iphone-14/">Más informacion ></a></p> 
  <p style="text-align: center"><img src="../../assets/img/372632967_703303271835356_7239529784636157842_n.png" ></p> <br>

  <h1>MacBook Air de 15''</h1>
  <p style="text-align: center; font-size:medium ;">El más grande y ligero.</p> 
  <p style="text-align: center; font-size:medium ;"><a href="https://www.apple.com/cl/macbook-air-13-and-15-m2/">Más informacion ></a></p> 
  <p style="text-align: center"><img src="../../assets/img/Apple-WWDC23-MacBook-Air-15-in-hero-230605.jpg.news_app_ed.png" ></p>  <br>

  <h1>Iphone 14 Pro</h1>
  <p style="text-align: center; font-size:medium ;">El telefono más Pro.</p> 
  <p style="text-align: center; font-size:medium ;"><a href="https://www.apple.com/cl/iphone-14-pro/">Más informacion ></a></p> 
  <p style="text-align: center"><img src="../../assets/img/IPHONE-14-PRO-COLORI-768x768.png" ></p> 
</ion-content>